link(rel="import" href="../3rdparty/lodash.html")
link(rel="import" href="../3rdparty/polymer.html")
link(rel="import" href="../3rdparty/d3.html")
link(rel="import" href="../3rdparty/nvd3.html")

dom-module#xc-graph-styles
  template
    style(include="xc-nvd3-styles")
    style !{readCompiled('graph.css')}
    
mixin graph(id, js)
  dom-module(id=id)
    template
      style(include="xc-graph-styles")
      
      svg#svg
    
    script !{readCompiled('' + js)}
  
+graph('xc-graph', 'graph.js')
+graph('xc-graph-bar', 'graph-bar.js')
+graph('xc-graph-donut', 'graph-donut.js')
+graph('xc-graph-line', 'graph-line.js')
+graph('xc-graph-pie', 'graph-pie.js')
