link(rel="import" href="../3rdparty/lodash.html")
link(rel="import" href="../3rdparty/polymer.html")
  
dom-module#xc-number-text
  template {{numbertextstr}}
  
  script !{readCompiled('number-text.js')}
