doctype html
html
head
  meta(charset="utf-8")
  
  script(src="../../bower_components/webcomponentsjs/webcomponents-lite.js")
  script(src="../../bower_components/web-component-tester/browser.js")
    
  link(rel="import" href="markdown.html")

body
  test-fixture#fixture
    template
      xc-markdown#element
      xc-markdown#scriptelement
        script(type="text/markdown") Some **embedded** markdown
  
  script !{readCompiled('markdown.spec.js')}
