<link rel="import" href="../3rdparty/lodash.html"/><link rel="import" href="../3rdparty/polymer.html"/><link rel="import" href="../number-text/number-text.html"/><dom-module id="xc-datetime"><template>{{datestr}}</template><script>'use strict';

(function () {
  var WEEKDAYS = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

  var pad = function pad(num) {
    return ('0' + (num || 0)).slice(-2);
  };

  var format = function format(time, fmt) {
    var day = time.getDay();
    var date = time.getDate();
    var month = time.getMonth();
    var year = time.getFullYear();
    var hour = time.getHours();
    var minute = time.getMinutes();
    var second = time.getSeconds();

    return fmt.replace(/%([%aAbBcdDhHIlmMpPsStwyYZz])/g, function (val, modifier) {
      var match = undefined;

      switch (modifier) {
        case '%':
          return '%';
        case 'a':
          return WEEKDAYS[day].slice(0, 3);
        case 'A':
          return WEEKDAYS[day];
        case 'b':
          return MONTHS[month].slice(0, 3);
        case 'B':
          return MONTHS[month];
        case 'c':
          return Math.floor(year / 100);
        case 'd':
          return date;
        case 'D':
          return pad(date);
        case 'h':
          return hour;
        case 'H':
          return pad(hour);
        case 'I':
          return pad(format(time, '%l'));
        case 'l':
          return hour === 0 || hour === 12 ? 12 : (hour + 12) % 12;
        case 'm':
          return pad(month + 1);
        case 'M':
          return pad(minute);
        case 'p':
          return hour > 11 ? 'pm' : 'am';
        case 'P':
          return hour > 11 ? 'PM' : 'AM';
        case 's':
          return second;
        case 'S':
          return pad(second);
        case 't':
          return time.toString();
        case 'w':
          return day;
        case 'y':
          return pad(year % 100);
        case 'Y':
          return year;
        case 'Z':
          match = time.toString().match(/\((\w+)\)$/);
          return match ? match[1] : '';
        case 'z':
          match = time.toString().match(/\w([+-]\d\d\d\d) /);
          return match ? match[1] : '';
        default:
          return '';
      }
    });
  };

  var formatRemaining = function formatRemaining(ms) {
    var sec = Math.round(ms / 1000);
    var min = Math.round(sec / 60);
    var hr = Math.round(min / 60);
    var day = Math.round(hr / 24);
    var month = Math.round(day / 30);
    var year = Math.round(month / 12);

    if (ms < 0 || sec < 10) {
      return 'just now';
    } else if (sec < 45) {
      return sec + ' seconds';
    } else if (sec < 90) {
      return 'a minute ago';
    } else if (min < 45) {
      return min + ' minutes';
    } else if (min < 90) {
      return 'an hour';
    } else if (hr < 24) {
      return hr + ' hours';
    } else if (hr < 36) {
      return 'a day';
    } else if (day < 30) {
      return day + ' days';
    } else if (day < 45) {
      return 'a month';
    } else if (month < 12) {
      return month + ' months';
    } else if (month < 18) {
      return 'a year';
    }

    return year + ' years';
  };

  var formatTextDate = function formatTextDate(date) {
    var f = function f(fmt) {
      return window.xc.formatNumberText(format(date, fmt));
    };

    return f('%d') + ' ' + format(date, '%B') + ' ' + f('%c') + ' ' + f('%y');
  };

  var formatTextTime = function formatTextTime(date) {
    var f = function f(fmt) {
      return window.xc.formatNumberText(format(date, fmt));
    };

    var min = format(date, '%M');

    if (min === '00') {
      min = 'o\'clock';
    } else {
      min = '' + (min.indexOf('0') === 0 ? "o'" : '') + window.xc.formatNumberText(min);
    }

    return f('%l') + ' ' + min + ' ' + format(date, '%p');
  };

  var fmtMediumDate = '%d %b %Y';
  var fmtMediumTime = '%H:%M';
  var fmtLongDate = '%D %B %Y';
  var fmtLongTime = '%H:%M:%S';

  Polymer({
    is: 'xc-datetime',
    properties: {
      datetime: {
        type: String,
        observer: '_datetimeChanged'
      },
      format: {
        type: String,
        value: '-medium',
        observer: '_setDateStr'
      },
      date: {
        type: Date
      },
      datestr: {
        type: String
      }
    },

    _datetimeChanged: function _datetimeChanged() {
      var millis = Date.parse(this.datetime);

      this.date = _.isNaN(millis) ? null : new Date(millis);
      this._setDateStr();
    },

    _setDateStr: function _setDateStr() {
      this.datestr = this._format(this.date, this.format);
    },

    _format: function _format(date, _fmt) {
      if (!date || !_.isDate(date)) {
        return '';
      }

      var fmt = _fmt;

      fmt = fmt.replace(/-elapsed/g, function () {
        return formatRemaining(new Date().getTime() - date.getTime());
      });
      fmt = fmt.replace(/-remaining/g, function () {
        return formatRemaining(date.getTime() - new Date().getTime());
      });
      fmt = fmt.replace(/-textDate/g, function () {
        return formatTextDate(date);
      });
      fmt = fmt.replace(/-textTime/g, function () {
        return formatTextTime(date);
      });
      fmt = fmt.replace(/-text/g, formatTextDate(date) + ' ' + formatTextTime(date));
      fmt = fmt.replace(/-longDate/g, fmtLongDate);
      fmt = fmt.replace(/-longTime/g, fmtLongTime);
      fmt = fmt.replace(/-long/g, fmtLongDate + ' ' + fmtLongTime);
      fmt = fmt.replace(/-mediumDate/g, fmtMediumDate);
      fmt = fmt.replace(/-mediumTime/g, fmtMediumTime);
      fmt = fmt.replace(/-medium/g, fmtMediumDate + ' ' + fmtMediumTime);

      return format(date, fmt);
    }
  });
})();</script></dom-module><dom-module id="xc-date"><template><xc-datetime format="{{ dtformat }}" datetime="{{ datetime }}"></xc-datetime></template><script>'use strict';

(function () {
  Polymer({
    is: 'xc-date',
    properties: {
      datetime: {
        type: Object
      },
      format: {
        type: String,
        value: '-medium',
        observer: '_formatChanged'
      },
      dtformat: {
        type: String,
        value: '-mediumDate'
      }
    },

    _formatChanged: function _formatChanged() {
      var format = undefined;

      if (_.includes(this.format, '-long')) {
        format = '-long';
      } else if (_.includes(this.format, '-text')) {
        format = '-text';
      } else {
        format = '-medium';
      }

      this.dtformat = format + 'Date';
    }
  });
})();</script></dom-module><dom-module id="xc-time"><template><xc-datetime format="{{ dtformat }}" datetime="{{ datetime }}"></xc-datetime></template><script>'use strict';

(function () {
  Polymer({
    is: 'xc-time',
    properties: {
      datetime: {
        type: Object
      },
      format: {
        type: String,
        value: '-medium',
        observer: '_formatChanged'
      },
      dtformat: {
        type: String,
        value: '-mediumTime'
      }
    },

    _formatChanged: function _formatChanged() {
      var format = undefined;

      if (_.includes(this.format, '-long')) {
        format = '-long';
      } else if (_.includes(this.format, '-text')) {
        format = '-text';
      } else {
        format = '-medium';
      }

      this.dtformat = format + 'Time';
    }
  });
})();</script></dom-module><dom-module id="xc-time-elapsed"><template><xc-datetime format="-elapsed" datetime="{{ datetime }}"></xc-datetime></template><script>'use strict';

(function () {
  Polymer({
    is: 'xc-time-elapsed',
    properties: {
      datetime: {
        type: Object
      }
    }
  });
})();</script></dom-module><dom-module id="xc-time-remaining"><template><xc-datetime format="-remaining" datetime="{{ datetime }}"></xc-datetime></template><script>'use strict';

(function () {
  Polymer({
    is: 'xc-time-remaining',
    properties: {
      datetime: {
        type: Object
      }
    }
  });
})();</script></dom-module>