<!DOCTYPE html><html></html><head><meta charset="utf-8"><script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script><script src="../../bower_components/web-component-tester/browser.js"></script><link rel="import" href="number.html"></head><body><test-fixture id="fixture"><template><xc-number id="element"></xc-number></template></test-fixture><script>'use strict';

describe('number', function () {
  describe('formatter', function () {
    var formatter = undefined;

    beforeEach(function () {
      formatter = window.xc.formatNumber;
    });

    it('attaches to window.xc.formatNumber', function () {
      expect(formatter).to.be.a.function;
    });

    describe('inputs', function () {
      it('ignores non-string & non-numbers', function () {
        expect(formatter(true, 2)).to.equal('');
      });

      it('accepts number inputs', function () {
        expect(formatter(123, 2)).to.equal('123.00');
      });

      it('drops the decimals when 0 and drop specified', function () {
        expect(formatter(123, 2)).to.equal('123.00');
        expect(formatter(456, 2, true)).to.equal('456');
      });
    });
  });

  describe('element', function () {
    var element = undefined;
    var fixture = undefined;

    var testRender = function testRender(number, format, expected) {
      !_.isUndefined(number) && element.setAttribute('number', number);
      !_.isUndefined(format) && element.setAttribute('format', format);

      expect(element.textContent).to.equal(expected);
    };

    beforeEach(function () {
      fixture = document.getElementById('fixture');
      fixture.create();

      element = document.getElementById('element');
    });

    afterEach(function () {
      fixture.restore();
    });

    it('attaches the element', function () {
      expect(element).to.be.ok;
    });

    describe('formatting', function () {
      it('renders with 2 decimals (default)', function () {
        testRender('98765.4321', undefined, '98,765.43');
      });

      it('renders with 5 decimals', function () {
        testRender('12345.6789', '5', '12,345.67890');
      });

      it('renders with number-text with -text', function () {
        testRender(142, '-text', 'one-hundred and fourty-two');
      });
    });

    describe('listeners', function () {
      it('acts on number changes', function () {
        testRender('98765.4321', undefined, '98,765.43');
        testRender('12345.6789', undefined, '12,345.68');
      });

      it('acts on format changes', function () {
        testRender('12345.6789', '5', '12,345.67890');
        testRender(undefined, '3', '12,345.679');
      });
    });
  });
});</script></body>