doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width")
    
    title xc-* components
    
    link(rel="import" href="loader/loader.html")
    
  body
    xc-loader(components='["bytes/", "graph/", "markdown/", "pi/"]')
    
    dom-module#xc-index
      template
        style !{readCompiled('index.css')}
        
        .sample
          pre xc-bytes bytes="456789"
          xc-bytes(bytes="456789")
            
        .sample
          pre xc-markdown
          xc-markdown
            script(type="text/markdown") ## a heading 
        
        .sample
          pre xc-pi digits="1000" padded
          xc-pi(digits="1000" padded)
        
        .sample
          pre xc-graph-bar data="..."
          xc-graph-bar(data="{{ graph.dataset }}" style="height:300px")
        
        .sample
          pre xc-graph-donut data="..."
          xc-graph-donut(data="{{ graph.datalist }}" style="height:300px")
        
        .sample
          pre xc-graph-line data="..."
          xc-graph-line(data="{{ graph.dataset }}" style="height:300px")
        
        .sample
          pre xc-graph-pie data="..."
          xc-graph-pie(data="{{ graph.datalist }}" style="height:300px")
      
    xc-index
    
    script !{readCompiled('index.js')}
  
    
