doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width")
    
    title Component Tests
    
    link(rel="import" href="components/loader/loader.html")
    
  body
    xc-loader(base="components/" components="graph/,pi/")
    
    dom-module#xc-index
      template
        xc-pi(digits="1000" padded)
        xc-graph-bar(data="{{ graph.dataset }}" style="height:300px")
        xc-graph-donut(data="{{ graph.datalist }}" style="height:300px")
        xc-graph-line(data="{{ graph.dataset }}" style="height:300px")
        xc-graph-pie(data="{{ graph.datalist }}" style="height:300px")
      
      script !{readCompiled('test.js')}
      
    xc-index
      
    script !{readCompiled('index.js')}
